/* reset button styles */

button {
    padding: 0;
}

input:focus,
button:focus {
    outline: none;
}

/* reset input style */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Global & Public */

body {
    background-color: #ddd;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Noto Sans CJK SC, Noto Sans, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

/* Login */

.manage-login {
    width: 300px;
    height: 260px;
    margin: auto;
    margin-top: 6rem;
    background-color: white;
    border-radius: 2px;
    padding: 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.manage-login h1 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.manage-login p {
    margin: 2rem 0;
}

.manage-login label {
    font-family: monospace;
    margin-right: 1rem;
}

.manage-login input {
    width: calc(300px - 7rem);
    padding: 0.25rem 0.5rem;
    border: 1px solid #ddd;
    background-color: #fafafa;
    box-shadow: 0 2px 2px #ddd inset;
    transition-duration: 0.5s;
    transition-property: border-color, box-shadow;
}

.manage-login input:focus {
    border-color: #009688;
    box-shadow: 0 0 2px #009688;
}

.manage-login button {
    cursor: pointer;
    float: right;
    width: 4rem;
    height: 2rem;
    border: 1px solid #009688;
    border-radius: 4px;
    background-color: #26a69a;
    box-shadow: 0 1px 0 #00675b;
    color: white;
    text-shadow: 0 0 1px black;
}

.manage-login button:hover {
    background-color: #52c7b8;
}

.manage-login button:focus {
    box-shadow: 0 1px 0 #00675b, 0 0 2px #009688;
}

.manage-login button:active {
    margin-top: 1px;
    box-shadow: 0 1px 1px #00675b inset;
}

/* Article */

.manage-article {
    margin: 1rem;
}

.manage-article .article {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.manage-article .article .title {
    font-weight: bold;
}

.manage-article .article .tags span {
    font-size: 0.8rem;
    background-color: #f0f0f0;
    border: 1px solid #b0b0b0;
    border-radius: 2px;
    padding: 0 0.25em;
    margin-right: 0.3em;
}

.manage-article .article .date {
    font-size: 0.8rem;
    color: grey;
}

.manage-article .pagination {
    text-align: center;
    margin-top: 1rem;
}

.manage-article .pagination input {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    border: 0;
    height: 2rem;
    width: 3rem;
    font-size: 1.1rem;
    text-align: center;
    background-color: transparent;
    transition-duration: 0.5s;
    transition-property: background-color;
}

.manage-article .pagination input:hover {
    background-color: white;
}

.manage-article .pagination input:focus {
    background-color: white;
    border-bottom: 2px solid #009688;
}

.manage-article .pagination a {
    cursor: pointer;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    color: white;
    background-color: #009688;
    border-radius: 100%;
    text-align: center;
}

.manage-article .pagination .prev {
    float: left;
}

.manage-article .pagination .next {
    float: right;
}

.manage-edit {
    height: 100%;
    width: 100%;
}

.manage-edit .wrapper {
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.manage-edit > .wrapper > input[type=text] {
    display: block;
    border: none;
    border-bottom: 2px solid lightgrey;
    background-color: transparent;
    width: 100%;
    line-height: 1.4rem;
    margin: 0.5rem 0;
    transition-property: border-color;
    transition-duration: 0.4s;
}

.manage-edit > .wrapper > input[type=text]:focus {
    border-color: #009688;
}

.manage-edit .tab {
    width: 100%;
    line-height: 2.5rem;
}

.manage-edit .tab span {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.manage-edit .tab span.active {
    font-weight: bold;
    color: #009688;
    border-bottom: 2px solid #009688;
}

.manage-edit .editor-area textarea {
    min-height: 30rem;
    max-height: 50%;
    min-width: 100%;
    max-width: 100%;
}

.manage-edit .editor-area .preview {
    height: 600px;
    overflow: auto;
}

.manage-edit .editor-area .preview * {
    max-width: 100%;
    white-space:  pre-wrap;
}
